<div class="row">
  <div class="col-md-6">
    <h2>{{projectToDisplay?.name}}</h2>
    <h4>Project Lead: {{projectToDisplay?.lead}}</h4>
    <h6>Description: {{projectToDisplay?.description}}</h6>

  </div>
  <div class="col-md-6">
    <h4>Funding Goal: {{projectToDisplay?.fundingGoal | currency:'USD':true}}</h4>
    <h4>Current Funding: <span [class]="funded(projectToDisplay)">{{projectToDisplay?.currentFunding | currency:'USD':true}}</span></h4>
    <h5>Budget Details: {{projectToDisplay.budgetDeets}}</h5>
  </div>
</div>

<button class="btn btn-lg"(click)="donateClick()"> Donate Here </button>
<div *ngIf="donateClicked">
  <label id="showDonationForm">Donation Amount:</label>
  <input type="number" #newDonation>
  <button class="btn btn-xs" id="donationComplete" (click)="donationSendComplete(projectToDisplay, newDonation.value)">Send Donation</button>
</div>

<button class="btn btn-lg"(click)="editClick()">Edit Project</button>
<div *ngIf="editClicked">
  <label>Project Name:</label>
  <input #newName value={{projectToDisplay.name}}><br>
  <label>Project Lead:</label>
  <input #newLead value={{projectToDisplay.lead}}><br>
  <label>Description:</label>
  <input #newDescription value={{projectToDisplay.description}}><br>
  <label>Funding Goal:</label>
  <input #newFundingGoal value={{projectToDisplay.fundingGoal}}><br>
  <label>Swag</label>
  <input #newSwag value={{projectToDisplay.swag}}><br>
  <label>Budget Details</label>
  <input #newBudgetDeets value={{projectToDisplay.budgetDeets}}><br>
  <button class="btn btn-xs" (click)="updateProject(newName.value, newLead.value, newDescription.value, newFundingGoal.value, newSwag.value, newBudgetDeets.value); newName.value=''; newLead.value=''; newDescription.value=''; newFundingGoal.value=''; newSwag.value=''; newBudgetDeets.value='';">Update Project</button>
</div>

<button class="btn btn-lg" (click)="beginDeletingProject()">Delete</button>
