<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="fullyFunded">Fully Funded</option>
  <option value="partiallyFunded">Partially Funded</option>
  <option value="unfunded">Unfunded</option>
</select>

<ul>
  <div class="well" *ngFor="let currentProject of projects | fundinglvl:filterByFunding" (click)="goToProject(currentProject.$key)">
  <h3>{{currentProject.name}}</h3>
  <h5>Project Lead: {{currentProject.lead}}</h5>
  </div>
</ul>

<button (click)="showNewProjectForm()">Add a Project</button>
<div *ngIf="newProjectClicked">
  <label>New Project Name:</label>
  <input #newName><br>
  <label>Project Lead:</label>
  <input #newLead><br>
  <label>Description:</label>
  <input #newDescription><br>
  <label>Funding Goal:</label>
  <input #newFundingGoal><br>
  <label>Swag</label>
  <input #newSwag><br>
  <label>Budget Details</label>
  <input #newBudgetDeets><br>
  <button class="btn btn-xs" (click)="submitNewProject(newName.value, newLead.value, newDescription.value, newFundingGoal.value, newSwag.value, newBudgetDeets.value); newName.value=''; newLead.value=''; newDescription.value=''; newFundingGoal.value=''; newSwag.value=''; newBudgetDeets.value='';">Submit New Project</button>
</div>
